.soundtact .content-header {
  padding: 0;
}

.soundtact .layout-container {
  margin: 0;
}

.soundtact .content-header-container {
  margin: 0 1.5em;
}

.soundtact #dialog-wrapper {
  position: fixed;
  max-width: 800px;
  background-color: #ffffff;
  left: 50%;
  top: 50%;
  z-index: 99999;
  transform: translate(-50%, -50%);
}

.soundtact #dialog-header {
  background-color: #2d2d2d;
  height: 40px;
  display: inline-block;
  width: 100%;
}

.soundtact #dialog-content {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.soundtact #dialog-content .new-music-wrapper {
  margin: 20px;
}

.soundtact #dialog-content .music-choose-wrapper {
  width: 200px;
  margin: 20px 40px;
  display: initial;
}

.soundtact #dialog-content .choose-music-button {
  display: block;
  text-align: center;
  margin: 20px auto;
}

.soundtact .dialog-hidden {
  display: none;
}

.soundtact #dialog-header h2 {
  max-height: 20px;
  margin: 10px;
  display: inline-block;
  color: #ffffff;
}

.soundtact #dialog-header .close-button {
  float: right;
  height: 20px;
  width: 20px;
  margin: 10px;
  padding: 0;
}

.soundtact .submit-existing-music-button {
  margin: 0 20px 20px 20px;
}

/* Toolbar styling */

.toolbar-menu .menu-item .is-active {
  background-color: #008245 !important;
}

.soundtact .button--primary {
  background: #008245;
  border-color: #008245;
}

.soundtact .button--primary:hover {
  background: #01b963;
  border-color: #01b963;
}

.link {
  color: #006a38;
}

a {
  color: #006a38;
}

th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: #01b963;
}

.soundtact .action-links .button--primary {
  color: #006a38;
  border-color: #006a38;
}

.soundtact .action-links .button--primary:hover,
.soundtact .action-links .button--primary:focus {
  background-color: #008245;
}

.tabs.primary a:focus {
  color: #006a38;
}

.toolbar-menu .menu-item .toolbar-icon-soundtact-route-overview,
.toolbar-menu .menu-item .toolbar-icon-soundtact-client-overview,
.toolbar-menu .menu-item .toolbar-icon-soundtact-audio-overview,
.toolbar-menu .menu-item .toolbar-icon-soundtact-notification-list,
.toolbar-menu .menu-item .toolbar-icon-soundtact-theme-overview,
.toolbar-menu .menu-item .toolbar-icon-soundtact-administrator-overview {
  padding: 12px 24px;
}

input[type='checkbox']:checked,
input[type='checkbox']:disabled:checked,
input[type='radio']:checked,
input[type='radio']:disabled:checked {
  background: #006a38;
}

.toolbar-bar .menu-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
}

.toolbar-bar .menu-logo a {
  line-height: 39px;
  background: url('../images/Bartimeus Logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -999999px;
}

.soundtact .toolbar .toolbar-bar {
  background-color: #008245;
}

.soundtact .toolbar .toolbar-bar .toolbar-lining {
  background-color: #006a38;
}

.soundtact .toolbar .toolbar-tray-horizontal {
  border-bottom: none;
}

.soundtact .toolbar .toolbar-toggle-orientation {
  background-color: #006a38;
  display: none !important;
}

.soundtact .toolbar .toolbar-bar .toolbar-item {
  color: #ffffff;
}

.soundtact .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover {
  background-color: #008245;
}

.soundtact .toolbar .toolbar-menu {
  background: #006a38;
}

.soundtact .toolbar .toolbar-tray-vertical .toolbar-menu a {
  color: #ffffff;
}

.soundtact .toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active,
.soundtact .toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus {
  background-color: #008245;
}

.soundtact .toolbar .menu-item:hover {
  background-color: #006a38;
}

.soundtact .toolbar .toolbar-tray-vertical .toolbar-menu a:hover {
  background-color: #01b963;
}

.soundtact .toolbar .toolbar-tray-horizontal .toolbar-menu a:hover {
  background-color: #01b963;
}

.soundtact .toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a,
.soundtact .toolbar .toolbar-tray a.is-active {
  color: #ffffff;
}

.soundtact .level-1 .toolbar-handle.open,
.soundtact .toolbar-tray-vertical .level-2 {
  background-color: #006a38 !important;
}

.soundtact .toolbar .toolbar-tray-horizontal {
  background-color: #006a38;
}

.soundtact .toolbar-tray .toolbar-menu li {
  background: #006a38 !important;
}

.soundtact .toolbar-tray .toolbar-menu a {
  color: #ffffff;
}

.soundtact .toolbar-tray-horizontal .menu-item--expanded:hover > a {
  background: #01b963;
}

.soundtact .toolbar .toolbar-tray-horizontal ul ul li.menu-item:first-child {
  border-top: none;
}

/* View styling */

.soundtact .view .view-filters {
  background-color: #f5f5f2;
}

.soundtact .view .view-filters .form--inline {
  max-width: 450px;
  margin: 0 auto;
  display: block;
}

.soundtact .view .view-filters .form--inline .form-item {
  width: 100%;
  margin-top: 0;
}

.soundtact .view .view-filters .form--inline .form-text {
  width: 100%;
  background: #ffffff;
}

.soundtact .view .view-filters .form--inline .form-actions {
  white-space: nowrap;
}

.soundtact .view .view-filters .form--inline .form-actions .form-submit,
.soundtact .view .view-filters .form--inline .form-actions .button-action {
  width: calc(50% - 10px);
  display: inline-block;
  box-sizing: border-box;
}

.soundtact .seven-details__summary:hover,
.soundtact .seven-details__summary:focus,
.soundtact .seven-details[open] > .seven-details__summary,
.seven-details__summary {
  color: #006a38;
}

.soundtact .view .view-filters .form--inline .form-actions .form-submit {
  margin-right: 7px;
  background-color: #ffffff;
}

.soundtact .view .view-filters .form--inline .form-actions .button-action {
  width: calc(50% - 10px);
  margin: 0 0 0 10px;
}

@media screen and (min-width: 38em) {
  .soundtact .view .view-filters {
    padding: 20px 0;
  }
}

.soundtact .view .view-filters h2 {
  font-size: 2em;
  text-align: center;
  word-break: break-word;
  color: #006a38;
  padding: 20px 0;
  margin: 0;
}

@media screen and (min-width: 38em) {
  .soundtact .view .view-filters h2 {
    font-size: 3.7em;
    line-height: 1;
  }
}

/*  Base styling for soundtact */

.soundtact_base_theme .background {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background: #f5f5f2;
}

.soundtact_base_theme .background-image {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../images/Bartimeus.jpg') no-repeat fixed center;
  background-size: cover;
}

.soundtact_base_theme .layout-container .page-content {
  max-width: 1000px;
  margin: 100px auto 0 auto;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Styling for login */

.soundtact .login-container .login-content {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  background-color: #ffffff;
  padding: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  min-width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.soundtact .login-container footer .logo-bartimeus {
  position: absolute;
  background: url('../images/Bartimeus\ Logo\ Groen.png');
  height: 70px;
  width: 250px;
  padding: 2px 20px;
  background-color: #ffffff;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
}

.soundtact .login-container .login-content {
  margin-bottom: 0;
}

@media screen and (max-width: 300px) {
  .soundtact .login-container {
    width: 100%;
    min-width: 0;
  }
}
