/**
 * @media-entity media_entity_browser.view.css
 */

.view-media-dialog .pager {
  padding: 20px;
}

.view-footer {
  margin: 10px;
}

.view-media-dialog .view-content {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 400px;
}

.view-media-dialog .views-row {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  display: block;
  text-align: center;
  transition: .2s;
  padding: 10px;
}

.view-media-dialog td .dropbutton-wrapper .dropbutton-widget {
  position: relative;
}

.view-media-dialog .views-row .views-field-mid {
  display: none;
}

.view-media-dialog table {
  margin: 0;
}

.view-media-dialog .views-field-name {
  min-width: 100px;
}

@media screen and (min-width:37.5em) { /* 600px */
  .view-media-dialog .views-row {
    width: 33.333%;
    float: left;
  }
}

@media screen and (min-width:62.5em) { /* 1000px */
  .view-media-dialog .views-row {
    width: 25%;
  }
}

.view-media-dialog .view-submit-wrapper {
  width: 100%;
}

.view-media-dialog .views-row.checked {
  border: 2px solid #37802f;
}

.view-media-dialog .views-row img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.view-media-dialog .views-row img::selection {
  background: transparent;
}

.view-media-dialog .views-row .views-field-entity-browser-select {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.view-media-entity-browser .views-row:after {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent url("/core/misc/icons/73b355/check.svg") no-repeat center center;
  background-size: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.view-media-entity-browser .views-row.checked:after {
  background-size: 80px 80px;
}

.views-field-name span {
  overflow-wrap: break-word;
  display: block;
}

.media-info--Video {
  background: transparent url("../images/video.svg") no-repeat;
}

.media-info--Image {
  background: transparent url("../images/image.svg") no-repeat;
}

.media-info--Twitter {
  background: transparent url("../images/twitter.svg") no-repeat;
}

input[type="submit"][name="filter"] {
  margin-left: 10px;
  margin-top: 30px;
}

.media-entity-browser-actions {
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding: 10px;
  width: 100%;
  background: white;
  border-top: 1px solid #b8b8b8;
}
