{#
/**
 * @file beacon_entity.html.twig
 * Default theme implementation to present Beacon data.
 *
 * This template is used when viewing Beacon pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_beacon_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('beacon_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
